<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Tweets</title>
  </head>
  <body>
    <h1>Welcome, <%= @user.username %></h1>
    <h4>All Tweets: </h4>
    <a href="/tweets/new">Make A New Tweet!</a>
    <ul>
      <% @tweets.each do |tweet| %>
      <% @user = User.find_by_id(tweet.user_id) %>
      <em> <%= @user.username %> </em>
            <li><%= tweet.content %></li><br>
            <a href="/tweets/<%= tweet.id %>/edit">edit this tweet</a>
      <% end %>
    </ul>
    <a href="/logout">Logout</a>
  </body>
</html>