<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Tweets</title>
  </head>
  <body>
    <h1>Welcome, <%= @user.username %></h1>
    <h4>All Tweets: </h4>
    <a href="/tweets/new">Make A New Tweet!</a>
    <ul>
     <% @tweets.each do |tweet| %>
     <em> <%= @user.username %> </em>
           <li><%= tweet.content %></li>
           <a href="/tweets/<%= tweet.id %>/edit">edit this tweet</a>
           <br></br>
     <% end %>
    </ul>
    <a href="/logout">Logout</a>
  </body>
</html>