<% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>
  
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Tweet</title>
  </head>
  <h1>Compose your tweet here:</h1>
  <body>
    <form action="/tweets" method="post">
      <input type="textarea" name="content" id="content">
      

  <%Genre.all.each do |genre|%>
      <input type="checkbox" name="tweet[genre_ids][]" value="<%=genre.id%>" id="genre_<%=genre.id%>"><%=genre.name%></input>
  <%end%>
  <br></br>

  <label></label>and/or, create a new Genre:</label>
      <br></br>
      <label>Genre:</label>
        <input  type="text" name="genre[name]" id="new_genre"></input>
      <br></br>
      <input type="submit" value="submit">


    </form>
  </body>
</html>