<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Tweet</title>
  </head>
  <h1>Compose your tweet here:</h1>
  <body>
    <form action="/tweets" method="post">
      <input type="textarea" name="content" id="content">
      

  <%Type.all.each do |type|%>
      <input type="checkbox" name="tweet[type_ids][]" value="<%=type.id%>" id="type_<%=type.id%>"><%=type.name%></input>
  <%end%>
  <br></br>

  <label></label>and/or, create a new Type:</label>
      <br></br>
      <label>Type:</label>
        <input  type="text" name="type[name]" id="new_type"></input>
      <br></br>
      <input type="submit" value="submit">


    </form>
  </body>
</html>