<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fwitter Signup</title>
  </head>
  <body>
    Welcome to Fwitter! Please enter a username, email, and password to sign up:
    <form action="/signup" method="post">
      Username: <input type="text" name="username" value="username"><br>
      Email: <input type="text" name="email" value="email"><br>
      Password: <input type="text" name="password" value="password"><br>
      <input type="submit" value="Signup">
    </form>
  </body>
</html>